.jumbotron {
    background: url(../media/pirate-ship.jpg) no-repeat center;
    background-size: cover;
}

h1 {
    font-family: 'Poor Story', cursive;
}

.jumbotext {
    color: white;
    margin: 100px auto 20px auto;
    text-align: center;

}