.right-rail {
    border-left: thin solid lightgrey ;
  }

.carousel {
    max-width: 70%;
    margin-bottom: 10px;
}

.footer {
    background: lightgray;
    margin-top: 20px;
}

.storyart {
    height: 264px;
    width: 500px;
    margin-bottom: 20px;
}

.btn {
    font-family: 'Poor Story', cursive;
}